/*---------- Table of Contents ----------
    I.   Main Header styles
    II.  Main Feed styles
    III. Popular Section styles
    IV.  
    V.   
-----------------------------------------*/



/*----- Main Header styles -----*/
.web-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 999;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-content: center;
    background-color: rgb(247,248,248);
    box-shadow: 0 0 48px rgb(0 0 0 / 15%);
}

.logo {
    height: auto;
    width: 4.125rem;
    padding: 1rem 0;
    margin-left: 1.5rem;
}

.main-header nav ul {
    display: flex;
    height: 100%;
    align-content: center;
}

.main-header nav ul li {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    padding: .675rem 1rem;
    cursor: pointer;
    color: rgb(80, 86, 102);
    overflow: none;
}

.selected {
    background-color: white;
    color: black !important;
}

.email-icon {
    height: auto;
    width: 1.25rem;
    padding: .9rem 0;
    margin-right: 1.1rem;
}

.spacer {
    background-color: rgb(255, 221, 51);
    padding: 10px 0;
    box-shadow: 0 16px 48px rgb(0 0 0 / 15%);
}

.spacer p {
    text-align: left;
    padding: 0 1.5rem;
    font-size: 13px;
    line-height: 1.75em;
}



/*----- Main Feed styles -----*/
main {
    margin-top: calc(3rem + 1.75em + 20px);
    padding-top: 2em;
}

main header {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2% 2rem;
    align-items: center;
    box-sizing: border-box;
}

main header h2 {
    width: 50%;
}

main header h2 svg {
    max-width: 38%;
    height: auto;
    padding: 1em 0;
    width: 50%;
}

main header p {
    text-align: right;
    width: 50%;
    font-size: 32px;
    color: rgb(80, 86, 102);
    margin: auto 0;
}

.main-feed-grid {
    display: grid;
    grid-template-areas: 
    "large1  large1  large1  large1  small1 small1 small2 small2"
    "large1  large1  large1  large1  small1 small1 small2 small2"
    "large1  large1  large1  large1  large2 large2 large2 large2"
    "medium1 medium1 medium1 medium1 large2 large2 large2 large2"
    "medium1 medium1 medium1 medium1 large2 large2 large2 large2"
    ;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5rem;
    padding: 0 2rem;
    margin: 0 auto;
    height: calc(576px + 3.5rem);
    max-width: 100rem;
    box-sizing: border-box;
    position: relative;
}

.main-feed-grid article {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.main-feed-grid article img {
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    transform: scale(1.03);
    position: absolute;
    object-fit: cover;
}

.main-feed-grid article:hover img {
    transform: scale(1);
}

.main-feed-grid article::after {
    background-image: linear-gradient(180deg, transparent 0, #000);
    position: absolute;
    top: 0;
    right: -1px;
    left: -1px;
    bottom: -1px;
    content: "";
}

.main-feed-grid article div {
    z-index: 9;
    color: white;
    padding: 24px;
    position: absolute;
    bottom: 0;
}

.main-feed-grid article div h3 {
    font-weight: 900;
    font-size: 2.4rem;
}

.main-feed-grid article div h4 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.small-article h3 {
    font-weight: 700 !important;
    font-size: 1.3rem !important;
    line-height: 1.2em;
}

.large-article-1 {
    grid-area: large1;
}


.small-article-1 {
    grid-area: small1;
}
.small-article-2 {
    grid-area: small2;
}

.medium-article {
    grid-area: medium1;
}

.medium-article div {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.medium-article div h3 {
    font-size: 1.5rem !important;
    margin: 0 auto;
    line-height: 1.2em;
}

.medium-article div button {
    margin: 0 auto;
    margin-top: 1em;
    padding: 0 1.5rem;
    height: 3rem;
    color: white;
    font-weight: 400;
    background: none;
    box-shadow: inset 0 0 0 1px #fff;
    border: none;
    border-radius: 1.5rem;
}

.large-article-2{
    grid-area: large2;
}

.main-feed-ad {
    text-align: center;
    margin: 1.5em 0;
}



/*----- Popular Section styles -----*/
.popular {
    background-color: #f7f8f8;
    padding: 4em .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.popular h2 {
    font-size: 1.75rem;
    letter-spacing: -0.1rem;
    margin-bottom: 4rem;
    color: #a7aab2;
    font-weight: 400;
}

.popular-articles {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 1.5rem calc(1.5rem + 3em);
    justify-content: space-between;
    max-width: 100rem;
}

.popular-articles article {
    text-align: left;
    display: flex;
    margin-right: 1.5rem;
}

.popular-articles article h3 {
    color: rgb(204, 0, 153);
    font-size: 38px;

}

.popular-articles article p {
    padding: 0 1rem;
    line-height: 1.5em;
    font-weight: 600;
    font-size: 1.05rem;
}



/*----- Latest Section styles -----*/
.latest {
    padding: 7rem 2rem;
    max-width: 80rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.latest h2 {
    font-family: "Lato", sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 4rem;
}

.latest-articles {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    top: -1rem;
}

.latest-articles article {
    box-sizing: border-box;
    max-width: 25%;
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem;
    position: relative;
    cursor: pointer;
}

.latest-articles article:hover p {
    color: black;
}

.latest-articles article div {
    position: relative;
    padding-top: 56.25%;

}

.latest-articles article div img {
    position: absolute;
    background-size: cover;
    object-fit: cover;
    bottom: 0;
    right: 0;
    background-position: 50% 50%;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.latest-articles article p {
    line-height: 1em;
    font-size: 1.35rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    letter-spacing: 0.08em;
}

.latest-articles article h3 {
    line-height: 1.5em;
    font-size: 1.1rem;
    font-weight: 700;
}

.all-news {
    margin-top: 3rem;
    text-align: center;
}

.all-news button {
    background-color:rgb(204, 0, 153);
    border: 0;
    border-radius: 1.5rem;
    color: white;
    padding: 0 1.5rem;
    padding-right: 42px;
    font-weight: 700;
    height: 3rem;
}

.all-news button:hover {
    color: black;
    cursor: pointer;
}



/*----- Explore Section styles -----*/
.explore {
    padding: 7rem 0;
    background-color: rgb(247, 248, 248);
}

.explore div {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100rem;
    padding: 0 2rem;
}

.explore h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 4rem;
}

.explore div section {
    display: flex;
    padding: 2rem 0;
}

.explore div section article {

    background-size: cover;
    padding: 2rem 1rem;
    flex-basis: calc(20% - 1rem);
    margin-right: 1rem;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    cursor: pointer;
}

.explore div section article:nth-child(1) {
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=4423a77a45ff6281a089424a8dd0bc24");
}

.explore div section article:nth-child(2) {
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=7b20700b0f58af3860449664ae1a5e68");
}

.explore div section article:nth-child(3) {
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=1d3ef28f5220f870b7e289810caa80a3");
}

.explore div section article:nth-child(4) {
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=72ccfd9e92f942be8ace3526d0dc3aab");
}

.explore div section article:nth-child(5) {
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=77d9941cfc302cb2e25c39ab3043fa7b");
}

.explore div section article {
    position: relative;

}

.explore div section article img {
    height: 2.5rem;
    margin: 0 auto 5rem auto;
    min-width: 120px;
    max-width: 120px;
    box-sizing: border-box;

}

.explore div section article h3 {
    margin: 0 auto;
    color: white;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 900;
}



/*----- Newsletter styles -----*/
.newsletter {
    background-image: url("https://next.tnwcdn.com/assets/next/img/spacesbg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    background-color: black;
    padding: 4em;
    text-align: center;
}

.newsletter h2 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    letter-spacing: -0.1rem;
    line-height: 1em;
    display: inline;
}

.newsletter p {
    color: white;
    font-size: 1.1em;
}

form {
    position: relative;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto;
    border-radius: 0.25rem;
}

form svg {
    margin: 0 0.75rem;
}

form input {
    flex: 1;
    border: 0;
    padding: 0.75rem 0;
    line-height: 1.5em;
    font-size: 1rem;
    color: rgb(80, 86, 102);
}

form input:focus {
    border: 0;
    outline: 0;
}

.email-svg {
    fill: rgb(220, 220, 220);
}

form input::placeholder {
    color: rgb(175, 175, 175);
}

form button {
    box-sizing: border-box;
    background-color:rgb(204, 0, 153);
    border: 0;
    color: white;
    height: 3rem;
    padding: 0 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-weight: bold;
}

.social-icon {
    fill: rgb(150, 150, 150);
    margin-left: 1rem;
    transition: fill 0.2s linear;
    cursor: pointer;
}

.social-icon:hover {
    fill: white;
}



/*----- Preview Styles -----*/

.preview {
    padding: 7rem 0;
    background-color: #f7f8f8;
}

.preview-spacing {
    box-sizing: border-box;
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.preview-spacing h2 {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.videos {
    display: flex;

}

.main-video {
    flex-grow: 1;
    background-color: black;
}

.iframe-position {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;

}

.iframe-position iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    object-fit: cover;
    background-position: 50% 50%;
    object-position: 50% 50%;
}

.main-video header {
    padding: 2.75rem 1.5rem;

}

.main-video header h3 {
    font-size: 1.125rem;
    line-height: 1.75em;
    color: white;
    font-weight: 700;
}

.main-video header p {
    color: rgb(167, 170, 178);
    font-size: 12px;
    line-height: 1.5rem;
}

.recommended {
    width: 300px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.recommended-preview {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.recommended-preview div {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.recommended-preview div img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    object-fit: cover;
    background-position: 50% 50%;
    object-position: 50% 50%;
}

.recommended-preview h4 {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s linear;
}

.recommended-preview h4:hover {
    text-decoration-color: rgba(204, 0, 153, 0.5);
    text-decoration-thickness: 2px;
}



/*----- General Styles -----*/
.anchor-text {
    color: rgb(0, 204, 204);
    cursor: pointer;
}

.small-caps {
    font-variant: small-caps;
}

.teko-font {
    font-family: "Teko", sans-serif;
}

.lato-font {
    font-family: "Lato", sans-serif;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
}

br {
}