/*---------- Table of Contents ----------
    I. Main Header styles
    II. Main Feed styles

-----------------------------------------*/



/*----- Main Header styles -----*/
.web-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 999;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-content: center;
    background-color: rgb(247,248,248);
    box-shadow: 0 0 48px rgb(0 0 0 / 15%);
}

.logo {
    height: auto;
    width: 4.125rem;
    padding: 1rem 0;
    margin-left: 1.5rem;
}

.main-header nav ul {
    display: flex;
    height: 100%;
    font-family: "Teko", sans-serif;
    align-content: center;
}

.main-header nav ul li {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    padding: .675rem 1rem;
    cursor: pointer;
    color: rgb(80, 86, 102);
    overflow: none;
}

.selected {
    background-color: white;
    color: black !important;
}

.email-icon {
    height: auto;
    width: 1.25rem;
    padding: .9rem 0;
    margin-right: 1.1rem;
}

.spacer {
    background-color: rgb(255, 221, 51);
    padding: 10px 0;
    box-shadow: 0 16px 48px rgb(0 0 0 / 15%);
}

.spacer p {
    text-align: left;
    padding: 0 1.5rem;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    line-height: 1.75em;
}



/*----- Main Feed styles -----*/
main {
    margin-top: calc(3rem + 1.75em + 20px);
    padding-top: 2em;
}

main header {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2% 2rem;
    align-items: center;
    box-sizing: border-box;
}

main header h2 {
    width: 50%;
}

main header h2 svg {
    max-width: 38%;
    height: auto;
    padding: 1em 0;
    width: 50%;
}

main header p {
    text-align: right;
    width: 50%;
    font-family: "Lato";
    font-size: 32px;
    color: rgb(80, 86, 102);
    margin: auto 0;
}

.main-feed-grid {
    display: grid;
    grid-template-areas: 
    "large1  large1  large1  large1  small1 small1 small2 small2"
    "large1  large1  large1  large1  small1 small1 small2 small2"
    "large1  large1  large1  large1  large2 large2 large2 large2"
    "medium1 medium1 medium1 medium1 large2 large2 large2 large2"
    "medium1 medium1 medium1 medium1 large2 large2 large2 large2"
    ;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5rem;
    padding: 0 2rem;
    margin: 0 auto;
    height: calc(576px + 3.5rem);
    max-width: 100rem;
    box-sizing: border-box;
    position: relative;
}

.main-feed-grid article {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.main-feed-grid article img {
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    transform: scale(1.03);
    position: absolute;
    object-fit: cover;
}

.main-feed-grid article:hover img {
    transform: scale(1);
}

.main-feed-grid article::after {
    background-image: linear-gradient(180deg, transparent 0, #000);
    position: absolute;
    top: 0;
    right: -1px;
    left: -1px;
    bottom: -1px;
    content: "";
}

.main-feed-grid article div {
    z-index: 9;
    color: white;
    padding: 24px;

}

.main-feed-grid article div h3 {
    font-family: "Lato";
    font-weight: 900;
    font-size: 2.4rem;
}

.main-feed-grid article div h4 {
    font-family: "Teko";
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.small-article h3 {
    font-weight: 700 !important;
    font-size: 1.3rem !important;
    line-height: 1.2em;
}

.large-article-1 {
    grid-area: large1;
}


.small-article-1 {
    grid-area: small1;
}
.small-article-2 {
    grid-area: small2;
}

.medium-article {
    grid-area: medium1;
}

.medium-article div {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.medium-article div h3 {
    font-size: 1.5rem !important;
    margin: 0 auto;
    line-height: 1.2em;
}

.medium-article div button {
    margin: 0 auto;
    margin-top: 1em;
    padding: 0 1.5rem;
    height: 3rem;
    color: white;
    font-weight: 400;
    background: none;
    box-shadow: inset 0 0 0 1px #fff;
    border: none;
    border-radius: 1.5rem;
}

.large-article-2{
    grid-area: large2;
}

.main-feed-grid article div {
    position: absolute;
    bottom: 0;
}